@import 'variables';

button{
    border: none;
    &:active{
        border: none;
    }
    &:focus {
        border: none;
    }
}

.counter-btns-container {
    border: 1px solid $dark-gray;
    height: 35px;
    line-height: 35px;
    
    button {
        background-color: white;
    }

    span{
        width: 60px;
    }

    &.counter-cart{
        width: fit-content;
        border: none;
    }
}

.basket-2-text {
    height: 35px;
    background-color: black;
    color: white;
    
    border-radius:0;
    border: none;
    
    margin-left: 10px;
    &:hover {
        color: white;
    }

    &.take{
        width: 140px;
        padding: 0 10px;
    }
    
}

.cart-qty-container{
    position: relative;

    .cart-qty {
        background-color: rgba(255, 165, 0, 0.5%);
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        font-size: .7rem;
    
        position: absolute;
        top: -5px;
        right: -10px;
    }
}

.clear-cart{
    background-color: white;
    color: black;
    border: 1px solid black;
    &:hover {
        color: black;
    }
}
