@import 'variables';

.logo-container{
    width: 20%;

    img{
        width: 100%;
    }
    h1{
        display: none;
    }
}

.nav-link{
    color: $base-gray;
}

.nav{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}